@import '../../styles/index.scss';

.Item {
	text-decoration: none;
	color: $c-white;
	font-family: $ff-beta;
	font-size: 13px;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	padding: 10px 7px;
	transition: all 0.3s;
}
.Item_view_light {
	color: $c-gray-3;
}

a.Item:hover,
a.Item:focus {
	color: $c-main-9;
}

a.Item.Item_view_lighten:hover,
a.Item.Item_view_lighten:focus {
	color: $c-main;
}
