@import '../../../assets/styles/index.scss';
.Box{
    @include container()
}
.Pills{
    @include my(20px);
    @include up(lg){
        text-align: center;
    }
}
.Pill{
    @include btn();
    color: $c-main;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: $ff-gamma;
    font-style: italic;
    display: block;
    padding: 10px 20px;
    @include mx(auto);
    @include my(10px);    
    transition: all 0.3s;
    @include up(lg){
        display: inline-block;
        text-align: center;
        @include mx(5px);
    }
    &:focus,
    &:hover,
    &_active{
        border: 2px solid $c-main-8;
        color: $c-main-8;
    }
}
		
.Content,
.Lists{
    @include py(30px);
    @include up(lg){
        width: 90%;
        @include mx(auto);
    }
    @include up(xl){
        width: 80%;
    }
}

.ListTitle{
    color: $c-main-8;
    padding-bottom: 15px;
    font-size: 14px;
    @include up(lg){
        font-size: 18px;
    }
}
.List{
    display: block;
}

.Item{
    display: flex;
    font-size: 14px;
    @include py(10px);
    @include up(lg){
        font-size: 16px;
    }
}
.ItemText{
    font-family: $ff-gamma;
    color: $c-gray-3;
    white-space: nowrap;
    margin-right: 10px;
}
.ItemDivider{
    width: 90%;
    border-bottom: 1px dashed $c-main;
}
.ItemCost{
    color: $c-gray-3;
    white-space: nowrap;
    margin-left: 10px;

}
