// colors

$c-white : #fff;
$c-black : #000;

$c-gray-3 : #929292;
$c-gray-8 : #252525;
$c-gray-9 : #2b2b2b;

$c-main : #900;
$c-main-8 : #6B0000;
$c-main-9 : #410000;
$c-accent : #fcc502;

// font-family: 

$ff-alpha : 'Open Sans', sans-serif;
$ff-beta : 'Roboto', sans-serif;
$ff-gamma : 'PT Sans', sans-serif;
