@import '../../../assets/styles/index.scss';

.Title{
    @include container()
}
.Text {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-family: $ff-beta;
    font-weight: normal;
    color: $c-gray-8;
    @include up(md){
        font-size: 25px;
        padding: 30px 0;
    }
    @include up(lg){
        font-size: 28px;
    }

}
.Line{
    height: 1px;
    width: 40%;
    background-color: rgba($c-gray-3,0.7);
    margin-left: 30%;

}
