//  MARGIN

@mixin my($content){
	margin-top: $content;
	margin-bottom: $content;
}

@mixin mx($content){
	margin-left: $content;
	margin-right: $content;
}

@mixin py($content){
	padding-top: $content;
	padding-bottom: $content;
}

@mixin px($content){
	padding-left: $content;
	padding-right: $content;
}

