@import '../../../../assets/styles/index.scss';
.Arrow {
	outline: none;
	background-color: transparent;
	border: 1px solid $c-white;
	display: block;
	padding: 15px;
	border-radius: 5px;
	color: $c-white;
	cursor: pointer;
	position: absolute;
	bottom: -70px;
	transform: (translateX(-50%));
	z-index: 1000;
	margin: 5px;
}
.Arrow:hover,
.Arrow:focus,
.Arrow:active{
	box-shadow: 0px 0px 30px 7px #999;
}

.Arrow.Left {
	right: 50%;
}
.Arrow.Right {
	left: 50%;
}
