@import '../../styles/index.scss';

.Box {
	display: flex;
	width: 100%;
}

.Navigation {
	background-color: $c-black;
	padding: 30px;
}
.Navigation h4 {
	color: $c-white;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: $ff-gamma;
}
