@import '../../styles/index.scss';

.Box {
	position: relative;
	height: 600px;
	background-color: $c-gray-3;
}
.Contacts {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 50px;
}
